$primaryColor: #f16262;
$secondaryColor: #3200ff;
$tertiaryColor: #b173fd;
$primaryTextColor: #333333;
$primaryBgColor: #1d1933;

$setBgImgLinearGradient: linear-gradient(
  to right,
  #501e9c 0%,
  #8169f1 30%,
  #8169f1 30%,
  #a44cee 73%,
  #ff847f 100%
);
